*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
a,
.content__card-link,
.search-form__label,
.more-button {
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  min-height: 534px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 100%;
}

.content__details .title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
  padding-top: 5px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 24px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.result__video-container .preloader,
.content__list-container .preloader {
  position: absolute;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  text-transform: uppercase;
  line-height: 100%;
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 3px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  align-items: flex-end;
}

.search-form__fieldset {
  display: grid;
  gap: 6px;
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 3px;
}

.button {
  display: inline-block;
  text-align: center;
  appearance: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
}

.more-button {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
}

.search-form__submit-button {
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: flex-end;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  text-decoration: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 6px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: inherit;
  padding: 0;
  padding-bottom: 4px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover
  .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 2px solid #fff;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: inherit;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:active:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
